#hangtieude{
	background-color:#666;
	color:#FFF;
	font-size:24px;
	padding:10px;
}
#hang2 a{
	width:250px;
	padding:10px;
	background-color:#333;
	color:#FFF;
	font-weight:bold;
	display:block;
	float:left;
	margin-right:1px;
	text-align:center;
}
#hang2 a:hover{
	background-color:#F06;}
